@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
    color: gray;
  }

  .slick-dots li.slick-active button:before {
    color:gray !important;
}
li::marker {
  color: gray;
}
